@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cormorant", serif;
}

.nav-desk {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  background: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav-desk a {
  color: #dfecec;
}

.anim-nav-desk {
  background: #342338;
  -webkit-box-shadow: 0px 2px 10px #666666;
          box-shadow: 0px 2px 10px #666666;
  height: 45px;
}

.anim-nav-desk a {
  color: #dfecec;
}

.element-nav-desk {
  margin: 0 10px;
  display: inline;
  font-size: 1.4em;
}

.element-nav-desk ::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #5a0928;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.element-nav-desk :hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.acceuil {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../image/6.jpg");
  background-size: cover;
  background-position-y: bottom;
}

.acceuil .contenu-acceuil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75%;
  height: 50%;
}

.acceuil .contenu-acceuil .texte {
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #dfecec;
}

.acceuil .contenu-acceuil .texte h1 {
  font-size: 6em;
  text-transform: uppercase;
}

.acceuil .contenu-acceuil .texte p {
  font-size: 2.9em;
  text-transform: lowercase;
  line-height: 1.2em;
}

.acceuil .contenu-acceuil .selfie-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.acceuil .contenu-acceuil .selfie-media .selfie {
  border-radius: 50%;
  -webkit-box-shadow: 0 1em 2em #1b1b1b;
          box-shadow: 0 1em 2em #1b1b1b;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.acceuil .contenu-acceuil .selfie-media .selfie img {
  position: relative;
  bottom: -2px;
  width: 300px;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.acceuil .contenu-acceuil .selfie-media .selfie :hover {
  -webkit-transform: translateZ(50px);
          transform: translateZ(50px);
  -webkit-transition: all 0.3 ease-in-out;
  transition: all 0.3 ease-in-out;
}

.acceuil .contenu-acceuil .selfie-media .media {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.acceuil .contenu-acceuil .selfie-media .media :hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.acceuil .contenu-acceuil .selfie-media .media img {
  width: 45px;
  background-color: #f1f1f1;
  border-radius: 50%;
  border: solid 1px #f1f1f1;
  -webkit-box-shadow: 0 1em 2em #1b1b1b;
          box-shadow: 0 1em 2em #1b1b1b;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f1f7f898;
}

.pages .contenu-pages {
  width: 60%;
}

.pages .contenu-pages h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 4em;
  padding-top: 100px;
  margin-bottom: 50px;
  color: #232938;
}

.pages .contenu-pages p {
  text-align: justify;
  margin-bottom: 30px;
  font-size: 2em;
  color: #232938;
}
/*# sourceMappingURL=style.css.map */